<div class="col-xs-12">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PageTest</a>

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <% if (userIsAuthenticated) { %>
                    <li><a href="/sites">Sites</a></li>
                <% } %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if (userIsAuthenticated) { %>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/register">Register</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</div>